.map-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    background-color: #333; /* Color de fondo para el contenedor */
}

.map-container.active {
    opacity: 1;
    pointer-events: auto;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10000; /* Debe estar por encima del mapa */
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos para los popups de Leaflet */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: rgba(30, 30, 30, 0.9);
    color: white;
    border-radius: 5px;
}

.leaflet-popup-content {
    font-size: 0.9rem;
}
